html, body {
    margin: 10px;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

html.dark, body.dark {
    background-color: #000;
    color: #fff;
}

pre, code {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 20px;
    border: 1px solid;
    padding: 10px;
}